{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% load static %} 
{% load i18n %}
{% load widget_tweaks %}
<!-- {% load render_table from django_tables2 %} -->

{% block content %}
  
<div class="container">
    <h1 class="title">Edit Product</h1>
    
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <!-- {{ form | crispy }} -->
        <!-- <div class="field">
            <label class="label">{{ form.user.label_tag.hidden }}</label>
            <div class="control">
                {{ form.user.hidden }} 
            </div>
        </div> -->
        <div class="field">
            <label class="label">{{ form.vendor.label_tag }}</label>
            <div class="control">
                {{ form.vendor }}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.category.label_tag }}</label>
            <div class="control">
                {{ form.category }}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.stock.label_tag }}</label>
            <div class="control">
                {% render_field form.stock %}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.name.label_tag }}</label>
            <div class="control">
                {{ form.name }}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.quantity.label_tag }}</label>
            <div class="control">
                {% render_field form.quantity %}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.barcode.label_tag }}</label>
            <div class="control">
                {{ form.barcode }}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.originprice.label_tag }}</label>
            <div class="control">
                {{ form.originprice }}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.price.label_tag }}</label>
            <div class="control">
                {{ form.price }}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.image.label_tag }}</label>
            <div class="control">
                {{ form.image }}
            </div>
            <img class="image" src="{{ qs.image.url }}">
        </div>
        
        <div class="field">
            <label class="label">{{ form.description.label_tag }}</label>
            <div class="control">
                {{ form.description }}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.active.label_tag }}</label>
            <div class="control">
                {{ form.active }}
            </div>
        </div>
        <div class="field">
            <label class="label">{{ form.is_deleted.label_tag }}</label>
            <div class="control">
                {{ form.is_deleted }}
            </div>
        </div>
        <br>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">
                    Save Changes
                </button>
            </div>
        </div>

    </form>
    
</div>
<div class="control">
    <img class="image" src="{{ qs.image.url }}">
</div>

{% endblock %}


{% block scripts %}
    
{% endblock %}
