{% load static %}

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"> -->
       
<!-- <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}"> -->

<!-- <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"> -->

<link rel="icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/bootstrap07.min.css' %}">

<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style07.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="{% static 'styles/main.css' %}" -->


