{% load static %}


 <!-- scripts for VUE -->
 <script src="{% static 'js/vue.js' %}"></script>
 <!-- <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script> -->
 <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
 <!-- <script src="https://cdnjs.cloudfare.com/ajax/libs/axios/0.19.2/axios.min.js"> 
 </script>-->
 <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
 <!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
 <script src="{% static 'js/jquery07.min.js' %}"></script>
 <script src="{% static 'js/popper07.min.js' %}"></script>
 <script src="{% static 'js/bootstrap07.min.js' %}"></script>
 <script src="{% static 'js/main07.js' %}"></script>

 <!-- <script src="{% static 'js/bootstrap413.min.js' %}"></script> -->

 <script src="{% static 'js/main.js' %}"></script>

 <script>

     var vue = new Vue ({
         el: '#footer-vue',
         delimiters: ['[', ']'],
         data: {
            footerTitle: ' Developed by Amr Aly ',
            image: "{% static 'img/2.png' %}",
         },
     });

 </script>
