{% load i18n %}
{% load static %}


<nav id="sidebar" class="active">
    <h1><a href="/" class="logo">KMA Store</a></h1>
    
    <ul class="list-unstyled components mb-5">
    {% if user.is_authenticated %}
        <li class="active">
            <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="fa fa-user"></span>
                {% trans 'Wellcome' %}: {{ user.username }}
            </a>
            <ul class="collapse list-unstyled" id="userSubmenu">
                <li>
                    <a href="/dashboard"><span class="fa fa-laptop"></span>
                    {% trans 'Dashboard' %}</a>
                </li>

                {% if user.is_staff %}
                <li>
                    <a href="#">
                        <span class="fa fa-cubes"></span>
                        {% trans 'Created Products' %}</a>
                </li>
                <li>
                    <a href="#"> 
                        <span class="fas fa-battery-full"></span>
                        {% trans 'Created Stores' %}</a>
                </li>
                <li>
                    <a href="#"> 
                        <span class="fas fa-user-plus"></span>
                        {% trans 'Created Vendors' %}</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'account_logout' %}">
                    <i class="fa fa-sign-out-alt" aria-hidden="true">
                    </i> {% trans 'Log out' %}</a>
                </li>
            </ul>              
        </li>
    {% endif %}
        <!-- <li class="active">
            <a href="#">
            <span class="fa fa-home"></span> Home</a>
        </li> -->
    
    {% if user.is_staff %}  
        <li>
            <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="fa fa-cubes"></span>{% trans 'Products' %}</a>
            <ul class="collapse list-unstyled" id="productSubmenu">
                <li>
                <a href="{% url 'products:add_product' %}">
                    <span class="fa fa-plus-square" aria-hidden="true">
                    </span>{% trans 'Add New Product' %}</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-pen-square" aria-hidden="true">
                    </span>{% trans 'Edit Product' %}</a>
                </li>
                <li>
                    <a href="#">
                    <span class="fa fa-battery-empty"></span>
                    {% trans 'Out Of Stock' %}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#stockSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <span class="fa fa-bank"></span> {% trans 'Stores' %}</a>
            <ul class="collapse list-unstyled" id="stockSubmenu">
                <li>
                    <a href="{% url 'stocks:add_stock' %}">
                        <span class="fa fa-plus-square" aria-hidden="true">
                        </span> {% trans 'Add New Store' %}</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-pencil-square-o">
                    </span>
                    {% trans 'Edit Store' %} </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#vendorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <span class="fa fa-group"></span> {% trans 'Vendors' %}</a>
            <ul class="collapse list-unstyled" id="vendorSubmenu">
                <li>
                    <a href="{% url 'vendors:add_vendor' %}">
                        <span class="fa fa-plus-square" aria-hidden="true">
                        </span> {% trans 'Add New Vendor' %}</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-pencil-square-o">
                    </span>
                    {% trans 'Edit Vendor' %} </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#categorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <span class="fa fa-coffee"></span> {% trans 'Categories' %}</a>
            <ul class="collapse list-unstyled" id="categorySubmenu">
                <li>
                    <a href="{% url 'category:add_category' %}">
                        <span class="fa fa-plus-square" aria-hidden="true">
                        </span> {% trans 'Add New Category' %}</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-pencil-square-o">
                    </span>
                    {% trans 'Edit Category' %} </a>
                </li>
            </ul>
        </li>
    {% endif %}
        <li>
            <a href="#">
                <span class="fa fa-cogs"></span> 
                {% trans 'Services' %}
            </a>
        </li>
        <li>
            <a href="#"><span class="fa fa-paper-plane">
            </span> {% trans 'Contacts' %}</a>
        </li>
        
        <li>
            <form action="{% url 'change_language' %}" method="post" id="lang">
                {% csrf_token %}
                <select name="language" class="form-control" form="lang" onchange="form.submit()" id="myDropdown">   
                    <option selected value="">{% trans 'Choose Language' %}</option>       
                    {% get_available_languages as LANGUAGES %}
                    {% for language in LANGUAGES %}
                    <option value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.0|language_name_local }} 
                        ({{ language.0 }})
                    </option>
                    {% endfor %}
                </select>
                <input type="hidden" value="Change">
            </form>
        </li>
        
    </ul>

<div class="footer" style="background-color: transparent;">
    <p>
        <h6>
            Copyright &copy;{% now 'Y' %} 
            {% trans 'All rights reserved,' %} 
            {% trans 'This software is made with by Eng. Amr Aly' %}
            <!-- num1 = {{var}} : {{attr1}} , 
            num2 = {{num2}} : {{attr2}} -->
        </h6>
    </p>
</div>
</nav>

