{% extends 'base.html' %}
<!-- {% load static %} -->

{% block content %}

<form class="form-inline mt-2 mt-md-0" method="GET" action="{% url 'barcodes:generate_barcode' %}">

    <input class="form-control mr-sm-2" type="text" name='code' value="{{request.GET.code}}"  placeholder="write barcode number.." aria-label="Search">

    <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Submit
    </button>
</form>
<br>

<input class="form-control mr-sm-2" type="text" name='barcode' value='{{ value }}'  placeholder="barcode will appear here...." aria-label="Search">
<br> 

{% endblock  %}