{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% load static %} 
{% load i18n %}
<!-- {% load render_table from django_tables2 %} -->

{% block content %}
  
<div class="container" id="edit-category">
    <h1 class="title">Edit Category</h1>
    
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form | crispy }} -->
        <!-- <div class="field">
            <label class="label">{{ form.user.label_tag.hidden }}</label>
            <div class="control">
                {{ form.user.hidden }} 
            </div>
        </div> -->

        <div class="field">
            <label class="label">{{ form.name.label_tag }}</label>
            <div class="control">
                {{ form.name }}
            </div>
        </div>
        
        <div class="field">
            <label class="label">{{ form.description.label_tag }}</label>
            <div class="control">
                {{ form.description }}
            </div>
        </div>
        <!-- button to show and hide a div -->
        <div class="field">
            <div class="control">
            <a class="btn btn-outline-primary" v-if="!isHidden" @click="isHidden = !isHidden" href="#">
                Hide Options
            </a>
            <a class="btn btn-outline-primary" v-else @click="isHidden = !isHidden" href="#">
                Display Options
            </a>
            </div>
        </div>
        <div class="field" v-if="!isHidden">
            <label class="label">{{ form.active.label_tag }}</label>
            <div class="control">
                {{ form.active }}
            </div>
        </div>
        <div class="field" v-if="!isHidden">
            <label class="label">{{ form.is_deleted.label_tag }}</label>
            <div class="control">
                {{ form.is_deleted }}
            </div>
        </div>
        <br>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-info">Submit</button>
                <a type="button" class="btn btn-outline-primary" href="{% url 'category:add_category' %}">
                    Add New
                </a>
            </div>
        </div>
        <!-- <div class="field">
            <div class="control">
                <a type="button" class="button is-info" href="{% url 'category:add_category' %}">
                    Add New
                </a>
            </div>
        </div> -->
    </form>
</div>

{% endblock %}


{% block scripts %}
    <script>
        var addCategory = new Vue ({
            el: '#edit-category',
            delimiters: ['[[', ']]'],
            data: {
                active: true,
                isHidden: true,

            },
            computed: {
                coloredIftrue: function () {
                    // this.active = ;
                }
            },
        })
    </script>
{% endblock  %}
